<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        h1, .panel-heading > h2 {
            font-weight: bold;
            color: #008B8B;
        }
        img {
            border-radius: 8px;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="margin: 2% auto;">
        {% if flag is defined %}
            <h1 id="headerLabel">Movie {{ flag }}</h1>
        {% else %}
            <h1 id="headerLabel">Movie Search</h1>
        {% endif %}
        <div class="col-md-4">
            <form action="/search" method="post" class="form-inline">
                {% if flag is defined %}
                    <input id="hintOption" type="text" name="flag" value="{{ flag }}" style="display: none"/>
                {% else %}
                    <input id="hintOption" type="text" name="flag" value="Search" style="display: none"/>
                {% endif %}
                <input id="inputBox" type="text" name="query_string" value="{{ query_string }}" class="form-control"/>
                {% if flag is defined %}
                    <input id="submitBtn" type="submit" name="submit" value="{{ flag }}" class="btn btn-primary"/>
                {% else %}
                    <input id="submitBtn" type="submit" name="submit" value="Search" class="btn btn-primary"/>
                {% endif %}
            </form>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                {% if flag is defined %}
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected">{{ flag }}</span>  <span class="caret"></span></button>
                {% else %}
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected">Search</span>  <span class="caret"></span></button>
                {% endif %}
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer">Search</a></li>
                    <li><a style="cursor: pointer">Classify</a></li>
                    <li><a style="cursor: pointer">Image Search</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if res is defined %}
    <div class="row" style="margin: 2% auto;">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Results:</h2>
                </div>
                {% if res | length > 0 %}
                    {% if flag == "Search" %}
                        <div class="panel-body">
                            <h3>Time elapsed: {{ runtime }}</h3>
                                {% for result in res %}
                                    <div class="row" style="margin: 1% auto;">
                                        <div class="col-sm-2 col-md-2">
                                            <img src={{ result['poster'] }}>
                                        </div>
                                        <div class="col-sm-2 col-md-10">
                                            <h2 >{{ result['title_eng'] | safe }}</h2>
                                            <p>{{ result['overview'] | safe }}</p>
                                            {{ result['score_table'] | safe }}
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    {% elif flag == "Classify" %}
                        <div class="panel-body">
                            {% for result in res %}
                                <div class="row">
                                    {{ result | safe }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <div class="row" style="margin: 1% auto;">
                                <table class="table">
                                    <tr>
                                        <th class="col_md-3" style="text-align: center">Caption</th>
                                        <th class="col_md-4" style="text-align: center">Image</th>
                                        <th class="col_md-5" style="text-align: center">Scores</th>
                                    </tr>
                                    {% for result in res %}
                                        <tr>
                                            <td class="col-md-4">
                                                {{ result["caption"] | safe }}
                                            </td>
                                            <td class="col-md-3">
                                                <img src="{{ result['image'] | safe }}" style="width: 100%"/>
                                            </td>
                                            <td class="col-md-5">
                                                {{ result["score_table"] | safe }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {{ result }}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                <h3>No results found</h3>
                {% endif %}
                <div class="panel-footer"><h4>Movie Search</h4></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</body>
<script type="text/javascript">

    $(".dropdown li").on("click", function () {
        switch ($(this).text()) {
            case "Search":
                $("#headerLabel").text("Movie Search");
                $("#submitBtn").val("Search");
                $("#hintOption").val("Search");
                $("#selected").text("Search");
                break;
            case "Classify":
                $("#headerLabel").text("Movie Classify");
                $("#submitBtn").val("Classify");
                $("#hintOption").val("Classify");
                $("#selected").text("Classify");
                break;
            case "Image Search":
                $("#headerLabel").text("Movie Image Search");
                $("#submitBtn").val("Image Search");
                $("#hintOption").val("Image Search");
                $("#selected").text("Image Search");
                break;
            default:
                break;
        }
    });

</script>
</html>